@font-face {
  font-family: "tajwal";
  src: url("../../assets/fonts/Tajawal-Regular.ttf");
}

.card {
  width: 100%;
}

.select-menu {
  width: 50%;
  margin-bottom: 40px;
}

.card-body {
  padding: 3rem;
  height: 100%;
}

.manuscript-img {
  width: 45%;
  height: 50%;
  margin-bottom: 25px;
}

.divider {
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background-color: lightgray;
}

.options-col {
  width: 45%;
  margin: 20px;
  padding: 2rem 2.5rem;
  background-color: #fbfcfc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
}

.form-group h6 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 0.9rem;
}

.message-text {
  margin-bottom: 25px;
}

.message-text,
.client-name {
  font-family: tajwal;
}

@media screen and (max-width: 992px) {
  .options-col {
    width: 100%;
  }

  .select-menu {
    width: 100%;
  }

  .manuscript-img {
    width: 100%;
    height: 100%;
  }

  .card-body {
    padding: 1.5rem;
  }
}
