.card-display {
  width: 100%;
  min-height: 100vh;
  padding: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f4f6f7;
}

@media screen and (max-width: 992px) {
  .card-display {
    padding: 1rem;
  }
}
