.navbar {
  float: right;
  width: 60%;
  font-family: "Raleway", sans-serif;
  margin-bottom: 200px;
}

.navbar-nav {
  display: flex;
  gap: 50px;
  padding: 0px 15px;
}

.navbar-brand {
  font-family: "Rochester", cursive;
  font-weight: 600;
}

.nav-item {
  text-transform: capitalize;
  font-weight: 600;
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100%;
    margin-bottom: 40px;
  }

  .navbar-nav {
    gap: 10px;
  }
}
